@use 'variaveis' as *;

@mixin flex-center($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin button-base($bg-color) {
  padding: 0.8rem;
  background: $bg-color;
  color: $color-white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
